<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect HTTP to HTTPS (Recommended)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Route all requests to the static client directory
  RewriteCond %{REQUEST_URI} !^/dist/client/
  RewriteRule ^(.*)$ /dist/client/$1 [L]
</IfModule>

